Checks: >
  bugprone-*,
  performance-*,
  readability-*,
  clang-analyzer-*,
  modernize-*,
  -readability-magic-numbers,
  -readability-braces-around-statements,  
  -readability-identifier-length,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
